<!-- <div class="row">
    <div class="container">
     <button class="btn btn-primary" routerLink="./new-category">Add New Category</button>
     <button class="btn btn-primary" routerLink="./new-product" style="float: right;">Add New Product </button>
    </div>
</div>
<hr> --> 
<mat-tab-group>
    <mat-tab label="View"> 
     <br>   
     <p>Product Listing will be shown Below</p>   

    </mat-tab>
    <mat-tab label="Add Product"> 
        <br>
        <app-new-product></app-new-product>
   
       </mat-tab>
       <mat-tab label="Add Category"> 
         <br>
        <app-new-product-category></app-new-product-category>
         
       </mat-tab>
</mat-tab-group>


   