<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>ADMIN</h2>
            <h4>example@gmail.com</h4>

        </div>
        <img src="https://www.pinclipart.com/picdir/big/355-3553881_stockvader-predicted-adig-user-profile-icon-png-clipart.png" alt="">

    </div>
    <mat-divider></mat-divider>
    <h3 matSubheader>Menu</h3>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="products"><mat-icon>card_giftcard</mat-icon>Products</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">Dashboard</a> -->
    <mat-divider></mat-divider>
    <h3 matSubheader>CMS</h3>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/about_us"> <mat-icon>contact_support</mat-icon>About US</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ingredients"><mat-icon>description</mat-icon>Ingredients</a>


</mat-nav-list>
